<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>IBUS-168-52</MSDeployServiceURL>
    <DeployIisAppPath>MemberServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MemberMVCContext" Order="1" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=member;Persist Security Info=True;User ID=root;Password=P@ssw0rd" Name="server=localhost;user id=root;password=P@ssw0rd;persistsecurityinfo=True;database=member" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|MemberMVCContext-20200820161921.mdf;Initial Catalog=MemberMVCContext-20200820161921;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MemberMVCContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=MemberMVCContext-20200820161921; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MemberMVCContext-20200820161921.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="StaffContext" Order="2" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=member;Persist Security Info=True;User ID=root;Password=P@ssw0rd" Name="server=localhost;user id=root;password=P@ssw0rd;persistsecurityinfo=True;database=member" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|StaffContext-20200820161648.mdf;Initial Catalog=StaffContext-20200820161648;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StaffContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=StaffContext-20200820161648; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|StaffContext-20200820161648.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MyContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=localhost;port=3306;database=member;Convert Zero Datetime=true;uid=root;password=P@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=localhost;port=3306;database=member;Convert Zero Datetime=true;uid=root;password=P@ssw0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyContext-Web.config Connection String" />
    <MSDeployParameterValue Include="StaffContext-Web.config Connection String">
      <ParameterValue>server=localhost;user id=root;password=P@ssw0rd;persistsecurityinfo=True;database=member;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MemberMVCContext-Web.config Connection String">
      <ParameterValue>server=localhost;user id=root;password=P@ssw0rd;persistsecurityinfo=True;database=member;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>